* {
    padding: 0;
    margin: 0;
    font-family: Nunito;
}

body {
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    background-color: #01346e;
    img {
        width: 6em;
        max-width: 300px;
    }
}


.motto {
    margin: 2em;
   
}

.mottoo {
    font-weight: 400;
}

.balanceLogo {
    width: 6em;
    padding: 0em 1em 0.5em;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balanceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.3em;
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(217, 217, 217); 
    max-width: 190px;
    width: 18em;
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    width: 100%;        /* Optional, ensures it stretches fully */
}

.cta {
    color: black;
    border-radius: 9px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 100%;     

    
}



img {
    width: 6em;
    padding: 0em 1em 1.5em;
}




.parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.balanceContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.3em;
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(217, 217, 217); 
    max-width: 80em;
    margin: 5em;
    width: 17em;
    padding: 2em;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.btn {
    padding: 1em;
    border-radius: 10px;



     &:hover {
        background-color: #7d9cc0;
        cursor: pointer;
    }
}

footer {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: #1d5595;
    box-sizing: border-box;
   
}

.linkedLogo {
    width: 2em;
}

h3 {
    color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 1em;
    padding: 1em 0em 0em 1em;
    text-align: center;
}

h4 {
        color: rgb(253, 253, 253);
        font-weight: 400;
        font-size: 0.8em;
        padding: 0em 0em 1em 1em;
        text-align: center;
        margin: 0em;
}

.btn2 {
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 10px; 
}


.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.form-control {
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.depositContainer {
    display: flex;
    justify-content: center;
    border-radius: 1.3em;
    background-color: rgb(243, 242, 242);
    padding: 1em 0em 0em 0em;
}

#btnD {
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    font-weight: 700;

    &:hover {
        background-color: #1d5595;
        cursor: pointer;
    }
}
.btnD {
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    font-weight: 700;

    &:hover {
        background-color: #1d5595;
        cursor: pointer;
    }
}

#depositText {
    font-weight: 600;
    padding: 1em 0em 0em 0em;
    font-size: large;
    display: none;
}

.withdrawContainer {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 2em;

    @media (min-width: 868px) {
        flex-direction: row;
        gap: 7em;
    }
}


    

.balanceContainer45 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.3em;
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(217, 217, 217); 
    width: 12em;
    margin-bottom: 2em;
}
.balanceContainer4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.3em;
    background-color: rgb(243, 242, 242);
    border: 2px solid rgb(217, 217, 217); 
    width: 18em;
}

.withdrawpageCon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0em 5em 0em;
    width: 100%;
    height: 20em;
}

#withdrawCta {
    border-radius: 1em;
    margin-top: 3em;
    padding: 1em;
    width: 80%;
    font-weight: 700;
    

    &:hover {
        background-color: #1d5595;
        cursor: pointer;
    }
}

form {
    padding: 4em;
}